.chart {
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.5);
  background: var(--primary-color);
  border-radius: 20px;
}

.chart-title {
  margin-bottom: 20px;
  color: whitesmoke;
}
