.topbar {
  width: 100%;
  height: 60px;
  background: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

.topbar-container {
  height: 100%;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 1rem 0 0 2rem;
}

.topbar-container--right {
  display: flex;
  align-items: center;
}

.topbar-container--icons {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  color: whitesmoke;
}
.badge {
  position: absolute;
  top: -5px;
  right: 0;
  width: 14px;
  height: 14px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
}

.topbar-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
